div
   script(type="text/ng-template" id="listmodal.jade")
      div(class="modal-header")
         h3(class="modal-title") What to do!
      div(class="modal-body")
         form
            div(class="form-group")
               label(for="listName") Name
               input(type="text" class="form-control" data-ng-model="item.name" name="listName" id="listName")
            div(class="form-group")
               label(for="listDesc") Description
               input(type="text" class="form-control" data-ng-model="item.desc" name="listDesc" id="listDesc")
      div(class="modal-footer")
         button(type="button" class="btn btn-default" data-ng-click="cancel()") Cancel
         button(type="button" class="btn btn-primary" data-ng-click="ok()") Save changes

   h3 Welcome to Todo-app!
   table(class="table table-hover")
      thead
         th 
            a(href="#" ng-click="sortType='name'; sortReverse = !sortReverse") Name
                span(ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom")
                span(ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top")
         th 
            a(href="#" ng-click="sortType='description'; sortReverse = !sortReverse") Description
                span(ng-show="sortType == 'description' && !sortReverse" class="glyphicon glyphicon-triangle-bottom")
                span(ng-show="sortType == 'description' && sortReverse" class="glyphicon glyphicon-triangle-top")
         th 
            a(href="#" ng-click="sortType='added'; sortReverse = !sortReverse") Added
                span(ng-show="sortType == 'added' && !sortReverse" class="glyphicon glyphicon-triangle-bottom")
                span(ng-show="sortType == 'added' && sortReverse" class="glyphicon glyphicon-triangle-top")
         th Edit
         th Delete
      tbody
         tr(ng-repeat='list in lists  | orderBy:sortType:sortReverse'  ng-class="{success: list.done}")
            td
               a(href='/{{ list.id }}') {{ list.name }}
            td {{ list.desc }}
            td {{ list.added | date:'dd.MM.yyyy HH:mm' }}
            td
               button(class="btn btn-info" data-ng-click="editModal('sm', list)")
                  span(class="glyphicon glyphicon-pencil")
            td
               button(class="btn btn-danger" data-ng-click="deleteList(list.id)")
                  span(class="glyphicon glyphicon-minus")
   button(class="btn btn-primary" data-ng-click="editModal('sm')")
      span(class="glyphicon glyphicon-plus")
      span  New List