doctype html
html(ng-app='todoApp')
  head
    title= title
    base(href="/")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href="/bootstrap/css/bootstrap.min.css")
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-route.min.js')
    script(src='/javascripts/ui-bootstrap-tpls-0.14.2.min.js')
    script(src='/javascripts/todoModule.js')
  body
    div(class="container")
      div(ng-view)
        //block content

