//
   Created by Henri on 19.10.2015.
div(ng-controller="ListModalCtrl")
   script(type="text/ng-template" id="listModalContent.jade")
      div(class="modal-header")
         h3(class="modal-title")
      div(class="modal-body")
         form
            div(class="form-group")
               label(for="listName") Name
               input(type="text" class="form-control" data-ng-model="list.name" name="listName" id="listName")
            div(class="form-group")
               label(for="listDesc") Description
               input(type="text" class="form-control" data-ng-model="list.desc" name="listDesc" id="listDesc")
      div(class="modal-footer")
         button(type="button" class="btn btn-default" data-ng-click="ok()") Close
         button(type="button" class="btn btn-primary" data-ng-click="cancel()") Save changes

//
   div(class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel")
      div(class="modal-dialog")
         div(class="modal-content")
            div(class="modal-header")
               button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
               h4(class="modal-title" id="editModalLabel") Edit list
            div(class="modal-body")
               form
                  div(class="form-group")
                     label(for="listName") Name
                     input(type="text" class="form-control" id="listName")
                  div(class="form-group")
                     label(for="listDesc") Description
                     input(type="text" class="form-control" id="listDesc")
            div(class="modal-footer")
               button(type="button" class="btn btn-default" data-dismiss="modal") Close
               button(type="button" class="btn btn-primary save-list") Save changes
