body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, thead, tbody, tr, td {
  background-color: lavender;
  border-collapse: collapse;
  border: solid black 1px;
  padding: 5px;
}
